*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-height: 400vh;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left bottom,rgb(86, 5, 118),rgb(30, 152, 196));
}
.list-page{
    max-height: 300vh;
    min-height: 10vh;
    max-width: max-content;
    min-width: 60vh;
    border: 2px solid rgb(8, 4, 4);
    border-radius: 20px;
}
.list-page .heading{
    height: 7vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    background: linear-gradient(to left bottom,rgb(86, 5, 118),rgb(30, 152, 196));
}
.list-page .heading h2{
    color: aliceblue;
    font-family: cursive;
}

.list-page .elements-todo{
    max-height: 300vh;
    min-height: 10vh;
    width: 60vh;
    background-color: white;
    display: flex;
    align-items: start;
    background-color: transparent;
    justify-content: center;
    flex-direction: column;
}
.elements-todo ol{
    text-decoration: none;
    margin: 0.4vh 4vh 0.3vh;
    list-style: none;

}
.add{
    position: relative;
    margin-top: auto;
    height: 6vh;
    width: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.elements-todo .input-box{
    outline: none;
    border: none;
    text-decoration: none;
    border: 1px solid black;
    margin: 1vh;
    height: 4vh;
    width: 48vh;
    padding: 0.5vh;
    padding-left: 5vh;
    border-radius: 1vh;
    font-size: 2vh;
    
}
.input-box::placeholder{
    padding-left: 0vh;
    color: black;
}
.list-out{
    margin: 0vh;
    max-height: 200vh;
    min-height: 10vh;
    text-wrap: wrap;
    display: flex;
    align-items: start;
    justify-content: stretch;
    flex-direction: column;
    width: 59.1vw;

    margin-top: 1vh;
}
.list{
    max-height: 200vh;
    min-height: 10vh;
    width: 48vw;
    text-wrap: wrap;
    display: inline;
}

li{
    list-style-type: none;
    height: fit-content;
    font-size: 3vh;
    padding: 1vh;
    font-size: 2vh;
    text-wrap: wrap;
    background-color: white;
    border-radius: 2vh;
}
.done{
    background-color: antiquewhite;
    text-decoration: line-through;
}
.del{
    height: 3vh;
    width: 3vh;
    position: relative;
    top: -3.8vh;
    left: 50vh;
    background-image: url("delete.png");
    background-repeat: none;
    background-size: cover;    
    border: 2px solid white;
    border-radius: 50%;
}
.elements-todo .add-btn{
    padding: 1.3vh;
    outline: none;
    margin: 1vh;
    text-decoration: none;
    border: none;
    border: 1px solid rgb(4, 20, 20);
    background-color: white;
    border-radius: 1vh;
    color: black;
}

#Myfooter{
    height: 5vh;
    width: 60vh;
    font-size: 2vh;
    color: white;
    border-top: 1px solid black;
    background-color: rgb(153, 116, 246);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
