*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
}
.mode{
    height: 4vh;
    width: 10vw;
    border-radius: 5vh;
    background: linear-gradient(to left bottom,cadetblue,rgb(30, 152, 196));
    position: absolute;
    top: 4vh;
    display: flex;
    align-items: center;
    right: 2vh;
}
.ball{
    height: 3.8vh;
    width: 3.8vh;
    border-radius: 50%;
    background-color: black;
}
.start{
    display: flex;
    align-items: center;
    justify-content: start;

}
.end{
    display: flex;
    align-items: center;
    justify-content: end;
}
.list-page{
    height: 60vh;
    width: 80vw;
    border-radius: 20px;
}
.list-page .heading{
    height: 7vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(to left bottom,cadetblue,rgb(30, 152, 196));
}
.list-page .heading h2{
    color: aliceblue;
    font-size: 2vh;
    font-family: cursive;
}

.list-page .elements-todo{
    height: 48vh;
    width: 80vw;
    display: flex;
    align-items: start;
    background-color: transparent;
    justify-content: center;
    flex-direction: column;
}
.list-out{
    height: 48vh;
    display: flex;
    align-items: center;
    background-color: rgb(252, 243, 243);
    justify-content: center;
    flex-direction: column;
    width: 80vw;   
}
.list{
    height: 40vh;
    width: 80%;
    text-decoration: none;
    margin: 0.4vh 4vh 0.3vh;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
   
}
li{
    list-style-type: none;
    height: fit-content;
    font-size: 3vh;
    width: 90%;
    margin-top: 1vh;
    padding: 1vh;
    border-radius: 2vh;
    word-wrap: break-word;
    font-size: 2vh;
    background-color: white;
    
}
.done{
    background-color: cadetblue;
    text-decoration: line-through;
}
.del{
    height: 3vh;
    width: 3vh;
    left: 50vh;
    position: relative;
    left: 57.4vw;
    background-image: url("delete.png");
    background-repeat: none;
    background-size: cover;    
    border: 2px solid black;
    border-radius: 50%;
}
.del:hover{
    background-color: red;
}
.add{
    position: relative;
    margin-top: auto;
    height: 6vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.elements-todo .input-box{
    outline: none;
    border: none;
    text-decoration: none;
    border: 1px solid black;
    width: 40vw;
    height: 3.2vh;
    padding-left: 1.3vh;
    padding-right: 1.3vh;
    border-radius: 1vh;
}
.input-box::placeholder{
    color: black;
    font-size: 1.4vh;
}


.elements-todo .add-btn{
    padding: 0.9vh;
    margin-left: 2vh;
    outline: none;
    text-decoration: none;
    border: none;
    border: 1px solid rgb(4, 20, 20);
    background-color: white;
    border-radius: 1vh;
    color: black;
}

#Myfooter{
    height: 5vh;
    width: 80vw;
    font-size: 2vh;
    color: cadetblue;
    border-top: 1px solid black;
    background: linear-gradient(to left bottom,cadetblue,rgb(30, 152, 196));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
